/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #083B4C;
}

/* MAIN */

.container{
    width: 1000px;
    margin: auto;
}

h1{
    text-align: center;
    color: white;
    font-size: 85px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.table{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    color: black;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-bottom: 15px;
    font-size: 15px;
    width: calc(90% / 7);
}

.col-fizz-buzz{
    background-color: #f0466f;
}

.col-fizz{
    background-color: #0cd6a1;
}

.col-buzz{
    background-color: #ffd166;
}

.col-number{
    background-color: #1389b2;
}
